venv/
bin/
obj/

*.user

.Paket/
paket-files/
.paket/
*.log
*.logs

*.suo
*.cache
*.pdb
*.userprefs
*.vscode/
.vs/

TestResults/

*.coverage

*~
*.bak
*.tmp

*.nuget.props
*.nuget.targets

msbuild*.binlog
msbuild*.metaproj

*.pubxml

*.xproj
*.xproj.user
*.xproj.web.*
*.csproj.user
*.config.user

*.sln.docstates

Generated/
node_modules/
bower_components/
